:root {
    --background: #121212;
    --foreground: #ededed;
    --colorForBar: #5d1b63;
    --colorForTextBack: #a074bd;
    --textColor: #f1deef;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* -------- */
/* Efektler */
/* -------- */

@keyframes glow {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* ----- */
/* Pages */
/* ----- */

.logTextbox {
  background-color: var(--colorForTextBack);
  color: var(--textColor);
  border: 2px solid var(--colorForBar);
  border-radius: 10px;
  margin-bottom: 25px;
  width: 300px;
}

.logTextbox:hover {
    border-color: var(--textColor);
}

.logButton {
  width: 100px;
  background-color: var(--colorForTextBack);
  color: var(--textColor);
  border: 2px solid var(--colorForBar);
  border-radius: 10px;
  cursor: pointer;
}

.logButton:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    background-color: #ad8fc0;
    border-color: var(--textColor);
    color: var(--colorForBar);
}

.centerDIV {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--colorForBar);
  border-radius: 10px;
}

.textButton {
    color: #918dfd;
    font-size: 10px; 
    margin-left: 5px; 
}

.textButton:hover {
    color: #c1bffa;
}

.signIn-OutButton {
  padding: 8px 12px;
  background-color: var(--colorForTextBack);
  color: var(--colorForBar);
  border: 2px solid #2b2b2b;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.signIn-OutButton:hover {
  background-color: #a886bf;
  color: #3c0541;
}

/* ------------- */
/* Component CSS */
/* ------------- */

/* TopBar */

.top-bar {
  width: 100%;
  height: 60px;
  background-color: var(--colorForBar);
  color: var(--textColor);
  font-weight: bold;
  font-size: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.top-bar.hide {
  transform: translateY(-100%);
}

.top-bar.show {
  transform: translateY(0);
}

.top-bar-text {
  position: relative;
  display: inline-block;
  color: var(--textColor);
  font-weight: bold;
  background: linear-gradient(
    90deg,
    #0a0a0a 0%,
    #f0f 50%,
    #0a0a0a 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shimmer 15s linear infinite;
  cursor: pointer;
}

/* VidThumbnail */

.vid-thumb-div {
  cursor: pointer;
  border-radius: 3px;
  overflow: hidden;
  
  background-color: transparent;
}

.vid-thumb-img {
  width: 100%; 
  height: auto; 
  display: block;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.4s ease;
}

.vid-thumb-img:hover {
  transform: scale(1.05);
}

.vid-thumb-text {
  padding-top: 2px;
  padding-left: 2px;
  text-align: left;
}

/* RecCourses */

.slider-container {
  width: 90vw;
  height: 60vh;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 0px;
  position: relative;
  background-color: #282828;
  overflow: hidden;
}

.slide {
  width: 100%;
  color:#121212;
  margin-top: 20px;
  height: 50vh;
  flex-shrink: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border: 1px solid #ccc;
}

.slick-slider,
.slick-list,
.slick-track {
  margin: 0 auto;
  width: 95%;
  height: 95%;
}
