:root {
    --background: #121212;
    --foreground: #ededed;
    --colorForBar: #5d1b63;
    --colorForTextBack: #a074bd;
    --textColor: #f1deef;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}


/* -------- */
/* Efektler */
/* -------- */

@keyframes glow {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* ----- */
/* Pages */
/* ----- */

.logTextbox {
    background-color: var(--colorForTextBack);
    color: var(--textColor);
    border: 2px solid var(--colorForBar);
    border-radius: 10px;
    margin-bottom: 25px;
    width: 300px;
    outline: none;
    caret-color: var(--background);
    transition: border-color 0.4s ease-out;
}

.logTextbox:hover {
    border-color: var(--textColor);
}

.logTextbox:focus {
    border-color: var(--textColor);
}

.logButton {
    width: 100px;
    background-color: var(--colorForTextBack);
    color: var(--textColor);
    border: 2px solid var(--colorForBar);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.logButton:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    background-color: #ad8fc0;
    border-color: var(--textColor);
    color: var(--colorForBar);
}

.centerDIV {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--colorForBar);
    border-radius: 10px;
}

.textButton {
    color: #918dfd;
    font-size: 10px; 
    margin-left: 5px; 
}

.textButton:hover {
    color: #c1bffa;
}


/* ------------- */
/* Component CSS */
/* ------------- */

/* TopBar */

.top-bar {
    width: 100%;
    height: 60px;
    background-color: var(--colorForBar);
    color: var(--textColor);
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.top-bar.hide {
    transform: translateY(-100%);
}

.top-bar.show {
    transform: translateY(0);
}

.top-bar-text {
    position: relative;
    display: inline-block;
    color: var(--textColor);
    font-weight: bold;
    background: linear-gradient(
        90deg,
        #0a0a0a 0%,
        #f0f 50%,
        #0a0a0a 100%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: shimmer 15s linear infinite;
    cursor: pointer;
}


@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}


.search-bar {
    height: 4vh;
  aspect-ratio: 1 / 1.5;
  background: var(--colorForTextBack);
  border-radius: 0.5rem;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar::after, .search-bar::before{
    content: "";
    position: absolute;
    inset: -2px;
    z-index: -1;
    background-color: #de78fd;
    border-radius: inherit;
    animation: rotation 2s linear infinite;
    animation-play-state: paused;
}

.search-bar:focus-within::before,
.search-bar:focus-within::after {
    content: "";
    position: absolute;
    inset: -2px;
    z-index: -1;
    background: conic-gradient(
        from var(--gradient-angle),
        #de78fd,
        #c769fb,
        #a540f8,
        #8d34c4,
        #941fb1,
        #b800f0,
        #de78fd
    );
    border-radius: inherit;
    animation-play-state: running;
}
.search-bar:focus-within::after{
    filter: blur(0.5rem);
}

.search-bar input {
    background: transparent;
    color: var(--colorForBar);
    border: 0px transparent;
    padding: 15px;
    font-size: 18;
    font-weight: lighter;
    border-radius: 0.5rem;
    width: 25vw;
    outline: none;
}


.search-bar button {
    background-color: #8948b4;
    height: 4vh;
    width: 3vw;
    border-left: 2px solid var(--colorForBar);
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}


.signIn-OutButton {
    padding: 8px 12px;
    background-color: var(--colorForTextBack);
    color: var(--colorForBar);
    border: 2px solid #2b2b2b;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.signIn-OutButton:hover {
    background-color: #a886bf;
    color: #3c0541;
}

