.info {
    position: relative;
    width: 55vw;
    background-color: #444444;
}

.center {
    top: 25vh;
    left: 15vw;
    transform: translate(-50%, -50%);
    padding: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
    position: relative;
}