.pass-container {
    position: relative;
    width: 55vw;
    background-color: #444444;
}

.center {
    position: absolute;
    top: 25vh;
    left: 15vw;
    transform: translate(-50%, -50%);
    padding: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
}

.pass-container h2 {
    margin: 10px;
    color: var(--textColor);
    font-size: 30;
    font-weight: bold;
    text-align: center;
    cursor: default;
}

.pass-container span {
    color: var(--textColor);
    font-weight: bold;
}

.pass-container .center form div {
  display: flex;
  align-items: center; /* Dikey ortalama */
  margin-bottom: 10px; /* Satırlar arası boşluk */
}

.pass-container .center form div span {
  width: 120px; /* Sabit genişlik, tüm span'lar eşit genişlikte */
  display: inline-block;
  font-weight: 600;
}



.pass-container input {
    background-color: var(--colorForTextBack);
    color: var(--textColor);
    border: 2px solid var(--colorForBar);
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 23px;
    width: 15vw;
    height: 35px;
    transition: border-color 0.4s ease-out;
    outline: none;
    caret-color: var(--background);
}

.pass-container input:hover {
    border-color: var(--textColor);
}

.pass-container input:focus {
    border-color: var(--textColor);
}


.pass-container button {
    background-color: var(--colorForTextBack);
    margin: 0 auto;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid var(--colorForBar);
    color: var(--textColor);
    transition: 0.2s ease-out;
}

.pass-container button:hover {
    background-color: #c19bda;
    color: var(--colorForBar);
    transform: translate(3px, 3px);
}
