.page-wrapper {
    background-color: var(--background);
    min-height: 100vh;
    padding: 20px;
    color: white;
}

.course-layout {
    display: flex;
    gap: 30px;
    margin-top: 80px;
    padding: 20px;
}

.left-content {
    flex: 3;
}

.course-image-div {
    max-width: 80vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 50px;
}

.course-main-image {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
}

.course-info-div {
    min-width: 25vw;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.course-category-div {
    background-color: #242424;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease-out;
}

.course-category-div:hover {
    background-color: color-mix(in srgb, #242424 80%, #fff);
}

.course-title {
    font-size: 50px;
    font-weight: bold;
    margin: 20px 0 50px;
}

.course-description {
    font-size: 18px;
    margin-bottom: 20px;
}

.course-lessons {
    background-color: color-mix(in srgb, var(--background) 95%, #979797);
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.course-lesson {
    padding: 10px;
    background-color: #404040;
    border: 2px solid var(--background);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto 10px auto;
    transition: border-color 0.3s ease-out, background-color 0.3s ease-out, transform 0.4s ease-out;
}

.course-lesson:hover {
    background-color: color-mix(in srgb, #404040 80%, #fff);
    border-color: color-mix(in srgb, var(--background) 90%, #fff);
    transform: translate(1.1, 1.1) scale(1.01);
}

.course-lesson span {
    color: #fff;
    font-size: 18px;
}

.comments-section {
    background-color: #777;
    padding: 20px;
    border-radius: 8px;
}

.comments-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.comment {
    background-color: #bbb;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.right-sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 300px;
    max-height: 500px;
    background-color: color-mix(in srgb, var(--background) 95%, #979797);
    border-radius: 10px;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.instructor-photo-div {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 30px auto 15px auto;
}

.instructor-photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.instructor-name {
    color: #8b949e;
    margin-top: 0;
    font-size: 14px;
}

.progressbar-div {
    width: 10vw;
}

.enroll-button {
    background: color-mix(in srgb, var(--background) 85%, #979797);
    border: 1px solid #30363d;
    color: #c9d1d9;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
    margin: 10px 0;
    width: 8vw;
    transition: background-color 0.3s ease-out, transform 0.3s ease-out;
}

.enroll-button:hover {
    background-color: color-mix(in srgb, var(--background) 75%, #979797);
    transform: translate(1.1, 1.1);
}
