.ep-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #242424;
    transition: background-color 0.3s ease-out;
    gap: 0;
    cursor: pointer;
}

.ep-div:hover {
    background-color: color-mix(in srgb, #242424 90%, #fff);
}

.ep-input {
    font-size: 18px;
    outline: none;
    border: none;
    background: none;
}