.short-img {
    width: 180px;
    height: 315px;
    border-radius: 8px;
    margin: 31px 0 31px 5px;
    object-fit: cover;
    margin-bottom: 5px;
    transition: transform 0.3s ease-out;
}

.short-img:hover {
    transform: scale(1.05);
}

.short-title {
    color: white;
    font-size: 15px;
    margin: 10px 0 0 10px;
    transition: color 0.2s ease-out;
}

.short-title:hover {
    color: color-mix(in srgb, white 80%, #000);
}