.wrapper {
    background: transparent;
    position: relative;
    width: 65vw;
    min-height: 80vh;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.wrapper video {
    width: 100%;
    border-radius: 10px;
    background-color: #000;
}