.two-panel-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 100vh;
  margin-top: 60px;
}

.two-panel-container hr {
    color: var(--textColor);
    margin-top: 5px;
    margin-bottom: 15px;
}

.left-panel {
  width: 70vw;
  background-color: #242424;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-panel h1 {
    font-weight: bold;
    color: var(--textColor);
    font-size: 24px; 
    margin-bottom: 10px;
}

.left-panel h3 {
    color: var(--textColor);
    font-size: 18;
}

.description {
    margin-top: 30px;
    color: var(--textColor);
    border-radius: 15px;
    background-color: var(--colorForBar);
    padding: 15px;
    user-select: text;
}

.description h3 {
    font-size: 22;
    margin-bottom: 10px;
    font-weight: bold;
    user-select: none;
}

.description p {
    font-size: 15;
}

.comm {
    width: 100%;
    height: 10vh;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    position: relative;
}

.comm input {
    outline: none;
    color: var(--textColor);
    width: 57vw;
    height: 5vh;
    margin-top: 15px;
    border: 3px solid var(--colorForBar);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 5px;
    transition: border-color 0.5s ease-out;
}

.comm input:hover, input:focus {
    border-color: color-mix(in srgb, var(--colorForBar) 70%, #fff);
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translate(10px, -10px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideTopFromIn {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(10px, 10px);
  }
}

.comm-button {
    position: absolute;
    right: 5vw;
    top: 3vh;
    font-size: 15;
    height: 5vh;
    width: 5vw;
    border: 2px solid #242424;
    border-radius: 5px;
    background-color: var(--colorForTextBack);
    color: var(--textColor);
    opacity: 0;
    transform: translate(10px, -10px);
    pointer-events: auto;
    cursor: pointer;
    transition: color 0.5s ease-out, background-color 0.5s ease-out, transform 0.3s ease-out, opacity 0.3s ease;
}

.comm-button.show {
    animation: slideInFromTop 0.3s ease-out forwards;
    pointer-events: auto;
}

.comm-button.hide {
    animation: slideTopFromIn 0.3s ease-out forwards;
    pointer-events: none;
}

.comm-button:hover {
    background-color: #c29fda;
    color: var(--colorForBar);
    transform: translate(3px, 3px);
}

.commh3 {
    text-align: right;
    font-size: 22;
    font-weight: bold;
}


.right-panel {
    flex: 1;
    background-color: #e8e8e8;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--colorForBar);
    border-left: 2px solid var(--colorForTextBack);
}

.right-panel h3 {
    color: var(--textColor);
    font-size: 18;
    font-weight: bold;
}